In [2]:
import sys
sys.path.append('.')
import pandas as pd

In [3]:
ratings = pd.read_csv("data/ratings.csv")

In [10]:
pt = ratings.pivot_table(index=['book_id'], columns=['user_id'])

In [11]:
avg = pt.mean(axis=1)

In [12]:
total_mean = avg.mean()

3.7395773123055944

In [14]:
pop =  pt.count(axis=1)

In [15]:
pop.std()

162.45062298871582

In [16]:
pop.median()

40.0

In [18]:
pop.min()

1

In [30]:
len(pop)

5000

In [34]:
pd.DataFrame(pop)

            0
book_id
1           1
2           1
3           1
4           1
5           1
...       ...
5056     1597
5057     1634
5058     1655
5059     1747
5060     1764

[5000 rows x 1 columns]

In [35]:
ratings.pivot_table(index=['book_id'], columns=['user_id'])

        rating                                               ...            \
user_id   1    2    3    4    5    6    7    8    9    10    ... 4991 4992
book_id                                                      ...
1          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  4.0  NaN  ...  NaN  4.0
2          NaN  5.0  NaN  NaN  NaN  NaN  NaN  NaN  4.0  NaN  ...  4.0  NaN
3          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  4.0  NaN  ...  2.0  NaN
4          5.0  NaN  3.0  4.0  NaN  NaN  NaN  3.0  NaN  5.0  ...  NaN  NaN
5          NaN  5.0  NaN  4.0  NaN  NaN  NaN  3.0  5.0  5.0  ...  NaN  NaN
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5056       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
5057       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
5058       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
5059       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
5060       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN


user_id 4993 4994 4995 4996 4997 4998 4999 5000
book_id
1        5.0  5.0  NaN  5.0  NaN  NaN  NaN  5.0
2        NaN  NaN  NaN  NaN  NaN  NaN  4.0  NaN
3        NaN  5.0  NaN  NaN  NaN  NaN  NaN  3.0
4        NaN  NaN  NaN  NaN  5.0  NaN  NaN  NaN
5        NaN  4.0  5.0  NaN  4.0  NaN  5.0  NaN
...      ...  ...  ...  ...  ...  ...  ...  ...
5056     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5057     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5058     NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0
5059     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5060     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5000 rows x 5000 columns]

In [36]:
pt.mean(axis=1)

book_id
1       4.238662
2       4.058140
3       3.376528
4       4.364625
5       3.748036
          ...
5056    4.200000
5057    4.000000
5058    3.622222
5059    3.937500
5060    2.000000
Length: 5000, dtype: float64

In [38]:
pt['c'] = pt.count(axis=1)

In [47]:
pt[pt['c'] > 6]

        rating                                            ...                 \
user_id      1    2    3    4   5   6   7    8    9   10  ... 4992 4993 4994
book_id                                                   ...
1          NaN  NaN  NaN  NaN NaN NaN NaN  NaN  4.0  NaN  ...  4.0  5.0  5.0
2          NaN  5.0  NaN  NaN NaN NaN NaN  NaN  4.0  NaN  ...  NaN  NaN  NaN
3          NaN  NaN  NaN  NaN NaN NaN NaN  NaN  4.0  NaN  ...  NaN  NaN  5.0
4          5.0  NaN  3.0  4.0 NaN NaN NaN  3.0  NaN  5.0  ...  NaN  NaN  NaN
5          NaN  5.0  NaN  4.0 NaN NaN NaN  3.0  5.0  5.0  ...  NaN  NaN  4.0
...        ...  ...  ...  ...  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
5054       NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
5055       NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
5057       NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
5058       NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
5059       NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN

                                          c
user_id 4995 4996 4997 4998 4999 5000
book_id
1        NaN  5.0  NaN  NaN  NaN  5.0  1764
2        NaN  NaN  NaN  NaN  4.0  NaN  1634
3        NaN  NaN  NaN  NaN  NaN  3.0  1227
4        NaN  NaN  5.0  NaN  NaN  NaN  1747
5        5.0  NaN  4.0  NaN  5.0  NaN  1655
...      ...  ...  ...  ...  ...  ...   ...
5054     NaN  NaN  NaN  NaN  NaN  NaN    32
5055     NaN  NaN  NaN  NaN  NaN  NaN    30
5057     NaN  NaN  NaN  NaN  NaN  NaN    48
5058     NaN  NaN  NaN  NaN  NaN  2.0    45
5059     NaN  NaN  NaN  NaN  NaN  NaN    16

[4549 rows x 5001 columns]